<nav>
    <ul class="navbar-list">
        {{#if userName}}
        <li class="navbar-item"><a href="/pong/{{userName}}">Pong</a></li>
        <li class="navbar-item"><a href="/high-scores/{{userName}}">High-scores</a></li>
        <li class="navbar-item"><a href="/user-scores/{{userName}}" id="user-name">{{userName}}</a></li>
        <li class="navbar-item navbar-right" id="logout-button"><a>log Off</a></li>
        {{else}}
        <li class="navbar-item"><a href="/pong">Pong</a></li>
        <li class="navbar-item"><a href="/high-scores">High-scores</a></li>
        <li class="navbar-item navbar-right" id="login-button"><a>log on</a></li>
        {{/if}}
    </ul>
</nav>
